{% extends "base.html" %}

{%block script%}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="crossorigin="anonymous"></script>
<script>

    window.addEventListener('load', (event) => {
        disableClick();
    });

    var socket = io();

    var questionActive = false;

    socket.on('question_active', function(qName) {
        document.getElementById('questionActiveLabel').innerHTML = qName + ' | Buzz!!!';
        enableClick();
        questionActive = true;
    });

    socket.on('server_question_stop', function() {
        document.getElementById('questionActiveLabel').innerHTML = 'No Question Active';
        disableClick();
        questionActive = false;
    });

    // todo PASS DATA HERE EVENTUALLY
    function e_stopQuestion(){
        if (questionActive){
            console.log("question stopped");
            socket.emit('question_stop');
        }
    }

    function disableClick(){
        document.getElementById("buzzButton").className = "BuzzButtonInactive";
    }
    function enableClick(){
        document.getElementById("buzzButton").className = "BuzzButtonActive";
    }
</script>
{%endblock%}

{%block title%}Buzz-O-Matic{%endblock%}

{%block header%}
<ul class="Header">
    <li class="Header">Buzz-O-Matic</li>
    <li class="Header" id="Username">{{ username }}</li>
</ul>
{%endblock%}

{%block content%}
<div style="padding: 10px;">
    <h1 id="questionActiveLabel" style="text-align: center; margin: 0; padding: 0;">No Question Active</h1>
</div>
<button onclick="e_stopQuestion()" id="buzzButton" type="button" class="BuzzButtonInactive">
    BUZZ IN
</button>
{%endblock%}