{% extends "base.html" %}

{%block script%}
{%endblock%}

{%block title%}Login | Buzz-O-Matic{%endblock%}

{%block header%}
<ul class="Header">
    <li class="Header">Login | Buzz-O-Matic</li>
</ul>
{%endblock%}

{%block content%}
<h1>Login</h1>
<hr>
<form method="POST">
    <div class="container">
        <input class="Register" type="username" name="username"
            id="username" required>
        <button class="registerbtn" type="submit">Register Username</button>
    </div>
</form>
{%endblock%}

{% block flashes %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for m in messages %}
                <li>{{ m }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}