{% extends "base.html" %}

{%block script%}
<script>
    function noClick(){
        // todo if question active::
        document.getElementById("buzzButton").style.backgroundColor = "rgb(227, 50, 50)";
        document.getElementById("buzzButton").onclick = null;
    }
</script>
{%endblock%}

{%block title%}Buzz-O-Matic{%endblock%}

{%block header%}
<ul class="Header">
    <li class="Header">Buzz-O-Matic</li>
    <li class="Header" id="Username">CHANGEME - username</li>
</ul>
{%endblock%}

{%block content%}
<div style="padding: 10px;">
    <h1 style="text-align: center; margin: 0; padding: 0;">CHANGEME - question active?</h1>
</div>
<button onclick="noClick()" id="buzzButton" type="button" class="BuzzButton">
    BUZZ IN
</button>
{%endblock%}